<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" />
    <title>Accounts</title>
</head>
<body>
<h1>Accounts</h1>
<table>
    <thead>
    <td>Name</td>
    <td>Balance</td>
    <td>Animal type</td>
    <td>Index of element</td>
    <td>Good or Bad</td>
    </thead>
<tr th:each="account : ${accounts}">
    <td th:text="${account.name}"></td>
    <td th:text="${account.balance}"></td>
    <td th:text="${account.animalType}" th:attr="class=${account.kingStyleClass}"></td>
    <td th:text="${accountStat.index}"></td>
    <td th:text="${account.goodOrBad()}"></td>

</tr>
</table>
</body>
</html>