<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap" rel="stylesheet">
    <title>Webshop More Filters</title>
</head>
<body>
<header>
    <a href="/more-filters" id="head">Filters</a>
</header>

<div>
    <a href="/foodAndBeverages">Foods and Beverages</a>
    <a href="/clothesAndShoes">Clothes and Shoes</a>
    <a href="/electronics">Electronics</a>
    <a href="/kcz" class="currency">Kč</a>
    <a href="/eur" class="currency">€</a>
    <a href="/huf" class="currency">Ft</a>
</div>
<div>
    <form action="/filter" method="get">
        <input type="number" placeholder="Filter by price..." name="priceFilter"/>
        <select path="/currencies">
            <option th:each="currencyOption : ${currencyOptions}" th:value = "${currencyOption}" th:label = "${currencyOption}"/>
        </select>
        <button type="submit" formaction="/above">Above</button>
        <button type="submit" formaction="/below">Below</button>
        <button type="submit" formaction="/exactly">Exactly</button>
    </form>
</div>

<table>
    <thead>
    <td>Name</td>
    <td>Description</td>
    <td>Price</td>
    <td>Quantity of Stock</td>
    </thead>
    <tr th:each="item : ${items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.getPriceAsString()} + ' ' + ${currency}" class="right"></td>
        <td th:text="${item.quantityOfStock}" class="right"></td>
    </tr>
</table>

<a href="/">Back</a>

</body>
</html>