<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap" rel="stylesheet">
    <title>Webshop Find Item</title>
</head>
<body>
<header>
    Webshop... still not Amazon
</header>

<nav>
    <a href="/available">Show Available</a>
    <a href="/cheapestFirst">Cheapest First</a>
    <a href="/containsNike">Contains Nike</a>
    <a href="/stockAverage">Average of Stock</a>
    <a href="/mostExpensive">Most Expensive</a>
</nav>

<h1 th:text="${introString} + ${find}"></h1>

<a href="/">Back</a>

</body>
</html>