<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reddit</title>
</head>
<body>
<a href="/submit">Submit new post</a>

<h1>Trending posts</h1>

<table>
    <tr th:each="post : ${posts}">
        <td th:text="${post.points}"></td>
        <td><a th:href="@{'/{id}/addpoint' (id=${post.id})}">+</a></td>
        <td><a th:href="@{'/{id}/subtractpoint' (id=${post.id})}">-</a></td>
        <td><a th:href="${post.url}" th:text="${post.title}"></a></td>
    </tr>
</table>

</body>
</html>