<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Programmer Fox Club</title>
</head>
<body>

<ul>
    <li><a href="/">Information</a></li>
    <li><a href="/nutritionStore">Nutrition Store</a></li>
    <li><a href="/trickCenter">Trick Center</a></li>
    <li><a href="/">Action History</a></li>
    <li><a href="/login">Login</a></li>
</ul>

<img src="greenfox.png" alt="fox_image">

<p th:text="'This is ' + ${name} + '. Currently living on ' + ${food} + ' and ' + ${drink} + '. He knows ' + ${trickNumber} + ' trick(s).'"></p>

<h1>Known tricks</h1>
<p th:if="${trick.isEmpty()}" >No tricks yet. Time to learn something new...</p>
<ul th:each="trick : ${trick}">
    <li th:text="${trick}"></li>
</ul>
</body>
</html>