<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<p>Please provide your fox's name, food, drink, tricklist, so you can associate it to your pet!</p>
<form action="/register" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
    <label for="food">Food</label>
    <input type="text" id="food" name="food">
    <label for="drink">Drink</label>
    <input type="text" id="drink" name="drink">
<!--    <label for="tricks">Name</label>
    <input type="text" id="tricks" name="tricks">-->
    <button type="submit">Register</button>
</form>

</body>
</html>